<div class="container">
  <div class="user-details">
  <h3>Portfolio</h3>
  </div>
  <div class="row user-projects">
   <div class="six columns images">
     <div id="board" style="width: 100%"></div>
    </div>
    <div class="six columns">
      <h5>Chessbot</h5>
      <p>This chessbot was created by me and two classmates for a chess tournament in the second year of university. It won the tournament. I later spend some time refactoring it and implementing more advanced AI concepts. </p>
      <p>The version on this website is fully playable, just make a move to start the game. Good Luck!<p>
      <div class="status">
        <div id="status-ani" class="yourmove"></div>
        <span id="status">AI is thinking..</span>
      </div>
      <a class="project-link" href="https://github.com/daniel-wenzel/chess">Source Code</a>
    </div>
  </div>
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/chessboard-0.3.0.min.js"></script>
  <script src="assets/js/chess.js"></script>
  <script src="assets/js/main-chess.js"></script>
  <script src="assets/js/ai.js"></script>
<!--  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>-->
</div>
